/* Primary Colors:
- #002B5B (Midnight Blue) - A deep, rich blue for headings and primary elements
- #062a53 (Lighter Midnight Blue)
- #595660 (Dark Slate Gray) - A dark, muted shade of gray to complement the blues

Accent Colors:
- #BAC7E7 (Bright Blue) - A bright, vibrant blue for accents and highlights
- #616681 (Gray Blue) - A cool, grayish-blue for secondary elements or backgrounds
- #B2C8DF (Light Steel Blue) - A soft, desaturated blue for subtle accents or text

Neutral Colors:
- #FFFFFF (White) - For text on dark backgrounds and content areas
- #333333 (Dark Gray) - For body text or other content on lighter backgrounds*/

* {
    color: #fff;
    background-color: #595660;
    margin: 0;
}

.banner {
    width: 100%;
    height: 350px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #002B5B;
}
  
li {
    float: left;
}

.menu-right {
    float: right;
}


li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #002B5B;
}
  
li a:hover {
    background-color: #111;
}