/* Background Color:

    White: #FFFFFF
    Primary Accent Colors:

    Dark Brown: #8B4513
    Burnt Sienna: #E97451
    Secondary Accent Colors:

    Light Brown: #D2B48C
    Pastel Red: #FF9999
    Complementary Colors:

    Cream: #FFFDD0
    Beige: #F5F5DC */

@font-face {
    font-family: "Life Craft";
    src: url(./media/LifeCraft_Font.ttf);
}

@font-face {
    font-family: "Cinzel";
    src: url(./media/Cinzel-VariableFont_wght.ttf);
}

:root {
    --white: #fff;
    --black: #000;
    --primaryaccent: #8B4513;
    --primaryaccenttwo: #E97451;
    --secondaryaccent: #D2B48C;
    --secondaryaccenttwo: #F2E2C5;
    --complementarycolors: #FFFDD0;
}

* {
    color: var(--black);
    background-color: var(--secondaryaccenttwo);
    margin: 0;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--secondaryaccent);
    border-bottom: var(--black) 0.1rem solid;
}

li {
    float: left;
}

.menu-right {
    float: right;
}

li a {
    display: block;
    color: var(--black);
    text-align: center;
    padding: 0.5rem 0.9rem;
    text-decoration: none;
    font-family: "Life Craft";
    background-color: var(--secondaryaccent);
    font-size: 1.3rem;
    font-weight: bold;
}
  
li a:hover {
    background-color: var(--complementarycolors);
}

h1 {
    font-family: "Cenzil";
    font-size: 1.5rem;
    border-bottom: var(--black) 0.1rem solid;
    background-color: var(--secondaryaccent);
    font-weight: bold;
}

.infopanel {
    margin: 5%;
    font-size: 1rem;
    width: 90%;
    height: 20%;
    border: var(--black) 0.2rem solid;
    border-radius: 0.4rem;
    text-align: center;
    background-color: var(--secondaryaccenttwo);
}